<div class="flex justify-center items-center h-screen ">
	<div class="flex ">

		<div class="flex-1 p-4 text-right">
			<h1 class="text-2xl mb-4">{{ component.aboutus_title}}</h1>
			<p class="text-lg mb-6">{{component.aboutus_paragraph}}</p>
			<salla-button class="btn btn--default" color="primary" fill="solid" size="medium" shape="btn" width="normal" href="/" loader-position="center" loading="false">
				متجر الآن
			</salla-button>
		</div>
		<div class="flex-1 p-4 flex justify-center items-center">
			<img src="{{ component.aboutus_image }}" alt="صورة" class="rounded-lg max-w-full">
		</div>
	</div>
</div>
