<section class="pb-5 bg-[#f0f0f0] new-background relative">
	<h1 class="text-5xl text-center font-slim">قالو عنا</h1>
	<salla-slider id="main-slider-{{ position }}" class="w-1/3 mx-auto" auto-play show-controls="false" pagination>
		<div slot="items">
			{% for slide in component.testi_coliction %}
				<div class="swiper-slide w-full min-h-[30vh] lg:min-h-[35vh]">
					<div style="background-image: url({{ slide.testi_image }}); background-size: contain; background-repeat: no-repeat; background-position: center;" class="bg-center absolute inset-0"></div>
				</div>
			{% endfor %}
		</div>
	</salla-slider>
	<img src="{{ component.background_image_bottom_right }}" alt="Bottom Right Image" class="absolute bottom-5 right-20" style="width: 12vw;">
	<div></div>
</section>
