<section class="pb-6 bg-[#f0f0f0] new-background relative">
	<h1 class="text-5xl text-center font-slim">قالو عنا</h1>
	<salla-slider id="main-slider-{{ position }}" class="w-1/2 h-50vh mx-auto" auto-play show-controls="false" pagination>
		<div slot="items">
			{% for slide in component.testi_coliction %}
				<div class="swiper-slide w-full min-h-[25vh] lg:min-h-[35vh]">
					<div style="background-image: url({{ slide.testi_image }}); background-size: contain; background-repeat: no-repeat; background-position: center;" class="bg-center absolute inset-0"></div>
				</div>
			{% endfor %}
		</div>
	</salla-slider>
	<div class="absolute bottom-0 right-15 w-1/4 h-1/4">
		<img src="path/to/your/image-bottom-right.png" alt="Bottom Right Image" class="object-cover w-full h-full">
	</div>

</section>
