
// text and font customiztaion: 
.font-slim-larg {
    font-size: 2em;
    font-weight: 100;
}
.slim-font{
font-weight: 100;

}
.larg_heading {
font-size: 5rem;
margin: 5vh 0;

}

.custom-color {
  color: #a5804a;
}

.icon {
fill: white;  
transition: fill 0.3s; 
}

.icon:hover {
fill: #a5804a    ; 
}


.overlay-larg {
  margin-right: 5vw;
  font-size: 7rem;
  margin-bottom: 5vh;
}
.font-slim {
  font-weight: 100;
}
.half-hieght {
  height: 50vh;
}
.more_than_half_hieght {
  height: 70vh;
}

.zbyz {
  background-color:#f0f0f0 ;
  border: 1px solid #a5804a ; 
  color: #a5804a;
  padding: 0vh 1.2vw;
  border-radius: 0;
  
}

.zbyz:hover {
  background-color: #a5804a    ;
  color:  #ffffff;
}



// 
.line-before-footer {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background-color: #27314b;
  margin: 0 auto; /* لوضع الخط في الوسط إذا لزم الأمر */
}
.back {
  background-color: #f0f0f0;
}
