@font-face {
  font-family: "ara_etab_almonieeeregular";
  src: url("araetabalmonieee-regular-webfont.woff2") format("woff2"),
    url("araetabalmonieee-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
