// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);

:root {
  --infinte-color: #c9c9c9;
  --main-text-color: #27314b;
  --main-text-color-dark: #27314b;

  /* current */
  --color-primary: #a5804a;
  --color-primary-d: #272628;
  --color-primary-l: #676668;
  --color-primary-reverse: #ff6767;
  --color-text: #7c8082;
  --bg-gray: #c6c7ce1a;
  --color-grey: #f5f7f9;
  --color-light-grey: #eeeeee;
  /* font-size */
  --font-sm: 0.8685714286rem;
  /* font-family: ; */
  --font-main: "ara_etab_almonieeeregular";

  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
  --topnav-bg: #ffffff;
  --topnav-gradient-from: #ffffff;
  --topnav-gradient-to: #ffffff;
  --topnav-text-color: #000000;
}
